# eda and cleaning
pandas==2.1.4
numpy==1.26.4
seaborn==0.12.2
matplotlib==3.8.0
scikit-learn==1.2.2
googletrans==2.4.0
emoji==2.12.1
httpcore==0.15.0
httpx==0.25.1

# model building and training
transformers==4.41.2
torch==2.3.0